@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*{
    padding : 0;
    margin: 0;
    box-sizing : box-border;
    font-family : 'Mukta';
}

body{
    animation-name : gradient;
    animation-duration : 6s;
    background : linear-gradient(to left, #0f0c29, #302b63, #24243e);
    width : inherit;
    height : inherit;
    margin-left : 6em;
    margin-top : 4em;
}

section {
    color : white;
}

section ul{
    display : inline-flex;
}

section ul li {
    display : inline-flex;
    margin-right : 1em;
}

section ul  li a{
    color : #9effb8;
    list-style-type : none;
}

section ul  li a:hover{
    color : #81e39c;
    list-style-type : none;
}

#logo{
    height : 20em;
    width : 20em;
}

.logo{
    position : fixed;
    right : 5em;
    bottom : 8em;
}

.container{
    background : #ededed;
    width : 89%;
    height : inherit;
    padding : 5em 3em;
}

table{
    background : #e3ffea;
    border : #ccffd9;
}

#headings{
    background : #baffcb
}

th{
    font-weight : 700;
    padding : 0.5em 1em;
}

td{
    width : auto;
    padding : 0.5em 1.5em;
}

#datarow{
    background : #b3e7ff;
    height : 1.3em;
    padding : 1em 1em;
}

a{
    text-decoration : none;
    color : #1d1d8c;
}

#ratestar{
    heigth  : 18px !important;
    width : 18px !important;
}

li{
    list-style-type : none;
}
