@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*{
    padding : 0;
    margin: 0;
    box-sizing : box-border;
    text-align : center;
    font-family : 'Mukta';
}

body{
    padding-left : 6em;
    padding-top : 1em;
}

table{
    background : #e3ffea;
    border : #ccffd9;
}

#headings{
    background : #baffcb
}

th{
    font-weight : 700;
    padding : 0.5em 1em;
}

td{
    width : auto;
    padding : 0.5em 1.5em;
}

#datarow{
    background : #b3e7ff;
    height : 1.3em;
    padding : 1em 1em;
}

a{
    text-decoration : none;
    color : #1d1d8c;
}

#ratestar{
    heigth  : 18px !important;
    width : 18px !important;
}
