{% extends 'home.html' %}
{%block header%}
{%block title%} cook50 | Add Recipe{%endblock%}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
{%endblock%}
    {%block content%}
	<div class="container">
	  <form action="{{url_for('add_recipe')}}" method="POST">

	    <div class="add-recipe-input">
	      <label for="rname" >Recipe Name</label>
	      <input type="text" name="rname" />
	    </div>
	    
	    <div class="add-recipe-input">
	      <label for="rating" >Rating</label>
	      <input type="number" name="rating" /></div>

	    <div class="add-recipe-input">
	      <label for="difficulty-level" >Difficulty Level</label>
	      <input type="text" name="difficulty_level" />
	    </div>

	    <div class="add-recipe-input">
	      <row>
	      <col><label for="r_type" >Recipe Type</label></col>
	      <col><input type="text" name="r_type" /></col
	      </row>
	    </div>

	    <div class="add-recipe-input">
	      <label for="preptime" >Preparation Time</label>
	      <input type="text" name="prep_time" />
	    </div>

	    <div class="add-recipe-input">
	      <label for="main-ingredients" >Main Ingredients</label>
	      <input type="text" name="main_ingredients" />
	    </div>

	    <div class="add-recipe-input">
	      <label for="last-made" >Last Made</label>
	      <input type="date" name="last_made" />
	    </div>

	    <div class="add-recipe-input">
	      <label for="details-link" >Recipe Link</label>
	      <input type="url" name="details_link" />
	    </div>

	    <input type="submit" value="add recipe">
	  </form>
	</div>
	<div>
	  <a href="{{url_for('recipe_list')}}">View Recipe List </a>
	</div>
	{%endblock%}
