<!DOCTYPE html>
<html>
  <head>
    <title>cook50 | Recipe List</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <table>
      <thead>
	<tr id="headings" >
	  <th>ID</th>
	  <th>RECIPE</th>
	  <th>RATING</th>
	  <th>DIFFICULTY LEVEL</th>
	  <th>TYPE</th>
	  <th>PREPARATION TIME</th>
	  <th>MAIN INGREDIENTS</th>
	  <th>LAST MADE</th>
	  <th>RECIPE LINK</th>
	</tr>
      </thead>
      <tbody>
	{%for row in rows  %}
	<tr id="datarow">
	  <td>{{row[0] }}</td>
	  <td>{{ row[1] }}</td>
	  <td>
	     {% for rate in range(0,row[2])%}
	    <img id="ratestar" src="{{url_for('static', filename='img/star.svg')}}"/>
	    {%endfor%}
	  </td>
	  <td>
	    {% for rate in range(0,row[3])%}
	    <img id="ratestar" src="{{url_for('static', filename='img/fire.svg')}}"/>
	    {%endfor%}
	  </td>
	  <td>{{ row[4] }}</td>
	  <td>{{ row[5] }}</td>
	  <td>{{ row[6] }}</td>
	  <td>{{ row[7] }}</td>
	  <td><a href={{ row[8] }} target="_blank">view recipe</a></td>
	</tr>
	{%endfor  %}
      </tbody>
    </table>
  </body>
</html>
e
