<!DOCTYPE html>
<html>
  <head>
    <title>cook50 | Recipe List</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <table>
      <thead>
	<tr id="headings" >
	  <th>ID</th>
	  <th>RECIPE</th>
	  <th>RATING</th>
	  <th>DIFFICULTY LEVEL</th>
	  <th>TYPE</th>
	  <th>PREPARATION TIME</th>
	  <th>MAIN INGREDIENTS</th>
	  <th>LAST MADE</th>
	  <th>RECIPE LINK</th>
	</tr>
      </thead>
      <tbody>
	{% for row in rows  %}
	<tr id="datarow">
	  <td>
	    {%for id in range(1, records)%}
	    {{id}}
	    {%endfor%}
	  </td>
	  <td>{{row["rname"]}}</td>
	  <td>
	    {% for rate in range(0, row["rating"])%}
	    <img id="ratestar" src="{{url_for('static', filename='img/star.png')}}"/>
	    {%endfor%}
	  </td>
	  <td>{{row["difficulty_level"]}}</td>
	  <td>{{row["type"]}}</td>
	  <td>{{row["prep_time"]}}</td>
	  <td>{{row["main_ingredients"]}}</td>
	  <td>{{row["last_made"]}}</td>
	  <td><a href={{row["last_details_link"]}}>{{row["rname"]}}</a></td>
	</tr>
	{%endfor  %}
      </tbody>
    </table>
  </body>
</html>
